

/* Body Section Start */

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
} */

.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
}

/* Hero Section Start */

.about-hero-header {
    font-size: 3.5rem;
    font-weight: 700;
}

.hero-bg {
    background: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 4rem;
}

.hero-bg-color {
    background-color: var(--primary-color);
}
