
:root{
    --primary-color: #90bc79;
    --secondary-color: #1c2900;

}

/* Header Font Section */

.primary-font-white {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.primary-font-green {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.secondary-font-black {
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.para-font-gray {
    color: #656565;
    font-family: 'Open Sans', sans-serif;
}
.para-font-white {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.primary-header {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

/* Button Section */

.primary-btn {
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
    /* padding: .5rem 1.5rem; */
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    height: 44px;
    width: 130px;
    transition: all 0.5s ease;
}

.primary-btn:hover {
    cursor: pointer;
    background-color: #a1c68d;
    border: 1px solid #9bc386;
}

.primary-btn-emt {
    background-color: #fff;
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 5px;
    height: 40px;
    width: 125px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.5s ease;
}

.primary-btn-emt:hover {
    background-color: var(--primary-color);
    color: #fff;

}

.secondary-btn {
    background-color: var(--secondary-color);
    color: #fff;
    border: 1px solid var(--secondary-color);
    /* padding: .5rem 1.5rem; */
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    height: 44px;
    width: 130px;
    transition: all 0.5s ease;
}

.secondary-btn-bor {
    background-color: transparent;
    border: 3px solid var(--secondary-color);
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    /* padding: .5rem 1.5rem; */
    font-weight: 500;
    height: 44px;
    width: 135px;
    transition: all 0.5s ease;
    
}

.secondary-btn-bor:hover {
    background-color: var(--secondary-color);
    color: #fff;
}


/* Body Section Start */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
}

/* Navbar Start */

.nav-bg {
    background-color: var(--primary-color);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.nav-logo ul li {
    list-style: none;
}
.nav-logo ul li a {
    text-decoration: none;
}

.nav-logo ul li a h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}


.nav-item ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2.5rem;
}

.nav-item ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.5s ease;
}

.nav-item ul li a:hover {
    color: #fff;
}

#active {
    color: #fff;
}

/* Hero Section Srart */

.hero-bg {
    background: url(./images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 4rem;
}

.hero-bg-color {
    background-color: var(--primary-color);
}

.hero_header {
    font-size: 3.5rem;
    font-weight: 700;
}

.hero-p {
    color: #fff;
    font-size: 1.75rem;
    font-weight: 200;
}

.hero-btn {
    gap: 1.5rem;
}

.hero-img {
    padding: 1.5rem 0;
    margin-top: 3rem;
}

.hero-text {
    margin-top: 3rem;
}

/* End of Hero Section */

/* Features Section Start */

.features-section {
    padding: 3rem 0;
}

.features-1 {
    width: 32%;
    background-color: var(--primary-color);
} 
.features-border {
    margin: 1rem 1rem;
    border: 3px solid rgba(255, 255, 255, .2);
    
}

.features-2 {
    height: 212px;
    width: 351px;
}

.features-icon {
    font-size: 3rem;
}

.features-header {
    color: #fff;
    
}

/* End of Features */

/* About Section Start */

/* End of About */

/* Deal Section Start */

.deal-price {
    color: var(--primary-color);
    font-size: 3.5rem;
    font-weight: 700;
}

/* .deal-2-border {
    border: 3px solid rgba(255, 255, 255, .2);
    padding: 1rem;
} */

.deal-2 {
    background-color: #fff;
    padding: 1.5rem;
    /* border: 3px solid rgba(255, 255, 255, .2); */
    margin-top: 3rem;
}

.deal-header {
    font-size: 2rem;
    font-weight: 700;
}

.deal-content {
    border: 3px solid rgba(86, 71, 71, 0.069);
}

/* End of Deal */

/* Benefit Section Start */

.benefit-text h2 {
    font-size: 40px;
    padding: 0 4rem;
    margin: 0 6rem;
}
.benefit-text p {
    padding: 0 4rem;
    margin: 1rem 6rem;
}

.benefit-content-1 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid rgba(128, 128, 128, 0.167);
    font-size: 2.5rem;
    color: var(--primary-color);
}

.benefit-dash {
    height: 3.5px;
    width: 65px;
    background-color: rgba(99, 114, 153, 0.262);
    border-radius: 1px;
}

/* End of Benefit */

/* Use Section Start */

.use-content-1 {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 3px solid rgba(251, 248, 248, 0.307);
    font-size: 3rem;
}

.use-dash {
    height: 3px;
    width: 85px;
    background-color: rgba(214, 215, 219, 0.569);
    
}

/* End Of Use Section */

/* Product Section Start */

.product-content-inner {
    border: 3px solid #f4f8f1;
    padding: 1.5rem;
    transition: .1s;
}
.product-content-inner:hover {
    border-width: 0;
    box-shadow: 0 0 35px rgba(144, 188, 121, .25);
}

.product-h5 {
    font-size: 1rem;
}

/* End Of Product Section */

/* Testimonial Section Start */

.testimonial-section {
    padding: 11rem;
    text-align: center;
}

.testimonial-img {
    height: 120px;
    width: 120px;
    border: 3px solid #f4f8f161 ;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonial-img img {
    height: 110px;
    width: 110px;
    border-radius: 100px;
    padding: 5px;
}

/* .testimonial-count {
    display: flex;
} */

.test-count-1 {
    height: 30px;
    width: 30px;
    border: 3px solid #f4f8f161 ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test-active {
    background-color: var(--secondary-color);
}

/* End Of Testimonial Section */

/* Blog Section Start */

.blog-view {
    font-size: 14px;
    color: #656565a9;
}

.product-content-inner:hover .primary-btn-emt {
    background-color: var(--primary-color);
    color: #fff;
}

/* End Of Blog Section */

/* News Letter Section Start */

.news-header {
    font-size: 2.5rem;
}
.news-header-2 {
    font-weight: 200;
}

.news-mail {
    height: 52px;
    width: 58%;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
    border: 3px solid #ffffffa3;
}

#email {
    background-color: transparent;
    border: none;
    height: 52px;
    width: 88%;
    padding-left: 1rem;
}
#email:focus-visible {
    outline: none;
}
#email::placeholder {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

/* End Of News Letter Section */

/* Footer Section Start */

#footer-logo {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    
}

#footer-para-1 {
    color: #656565;
    padding-right: .5rem;
}

.location {
    color: #656565;
}

.social-icon-1 {
   height: 38px; 
   width: 38px;
   border: 3px solid var(--primary-color);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all .4s ease;
}
.social-icon-1:hover {
    background-color: var(--primary-color);
}

#social-icon{
    color: var(--primary-color);
}
.social-icon-1:hover #social-icon {
    color: var(--secondary-color);
}

.footer-content-1 ul {
    padding-left: 0;
    
}
.footer-content-1 ul li a:hover {
    letter-spacing: 1px;
    color: var(--primary-color);
}

.footer-content-1 ul li {
    list-style: none;
    padding: .5rem 0;
    
}

.footer-content-1 ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #656565;
    font-weight: 400;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s ease;
}
.footer-content-1 ul li i {
    font-size: 1rem;
    color: #656565;
}

.footer-bottom {
    border-top: 3px solid #f8f1f1af;
}

#site-name a{
    text-decoration: underline #cdcbcb87;
    text-underline-offset: 5px;
    color: #656565;
    transition: all 0.3s ease;
}
#site-name a:hover {
    color: var(--primary-color);
}

.bottom-right ul li {
    list-style: none;
}

.bottom-right ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #656565;
    font-weight: 400;
    text-transform: capitalize;
    transition: all 0.3s ease;
}

.bottom-right ul li a:hover {
    color: var(--primary-color);
}




